extends layout
block content
	if username
		a(href="/game/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	else
		a(href="/observe/") Game Lobby
			#header-container.ui.segment
				div.online-count
					i.user.icon
					span#player-count
					|	players online now
	.private-callout(style="text-align:center;margin-top:5px")
		p(style="color:white;") This is a private Secret Hitler instance.
	.ui.segment
		.ui.grid.mainpage
			.row.stackable#general-info
				.eight.wide.column
					h1(style="font-size: 22px;") Play the hit board game in your browser! Always free and no ads.
					p Secret Hitler is a dramatic game of political intrigue and betrayal set in 1930's Germany. Players are secretly divided into two teams - liberals and fascists. Known only to each other, the fascists coordinate to sow distrust and install their cold-blooded leader. The liberals must find and stop the Secret Hitler before it is too late.
					p To observe a game, hop into the #[a(href="/observe") the game lobby].
				.eight.wide.column.news
					h2(style="color: #000").ui.header News
					p Nothing newsworthy.
